/*Structural elements*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F4E3;
    color: #243B53;
    margin: 0;
}

#content {
    background-color: #FFFFFF;
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px #AAB7C4;
}

#repo-link a {
    color: #243B53;
    text-decoration: none;
    font-weight: bold;
}



/*Navigation*/



/*Typography*/





